build/
*.DS_Store

*.log

\.idea/

cmake-build-debug/

examples/embedded/atollic-toolchain\.cmake

examples/embedded/dev_tool_conf\.yaml

*.pyc

tools/dev/rx

tools/dev/tx

ide/Objects/
*.uvgui.*
*.uvguix.*
examples/embedded/MDK-ARM/scope/

ide/Listings/scope-lib\.map

*.schuepbs
*.vscode/

tools/dev/__pycache__/
