[submodule "3rdparty/nanopb"]
	path = 3rdparty/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "ext/protocol"]
	path = ext/protocol
	url = ../se-scope-protocol.git
[submodule "ext/se-lib-c"]
	path = ext/se-lib-c
	url = git@bitbucket.org:sourceengineers/se-lib-c.git
[submodule "ext/se-lib-c/"]
	url = ../se-lib-c.git
